//media 1799
@media(max-width: 1799px) {
    .header__menu {
        gap: 40px;
    }
    .header__menu a {
        font-size: 16px;
    }
    .main-slider {
        height: 100%;
    }
    .main-slider__name span::after {
        width: 20px;
        height: 20px;
        right: -90px;
    }
    .main-slider__name span::before {
        content: "";
        width: 20px;
        height: 20px;
        left: -90px;
    }
    .booksAndVideos__name,
    .booksAndVideos__V-name {
        font-size: 20px;
    }
    .articles__right-title {
        font-size: 20px;
    }
    .articles__hover-title {
        font-size: 36px;
    }

}
//1599
@media(max-width: 1599px) {
    .main-slider__name span::before {
        width: 15px;
        height: 15px;
        left: -66px;
    }
    .main-slider__name span::after {
        width: 15px;
        height: 15px;
        right: -66px;
    }
    .main-slider {
        padding-top: 140px;
        padding-bottom: 90px;
    }
    .slick-dots {
        margin-top: 0px;
    }
    .articles {
        padding: 80px 0;
    }
    .news__name {
        font-size: 20px;
    }
    .news__date {
        font-size: 16px;
    }
    .news__primary-button {
        padding: 14px 38px;
        font-size: 16px;
    }
    .articles__left-inner2 {
        overflow: unset;
        position: relative;
        background-color: #000 ;
    }
    .articles__hover2{
        position: unset;
        bottom: 0;
        left: 0;
        transform: translate3d(0, 0, 0) !important;
        width: 100%;
        max-width: none;
        padding: 15px 15px 20px;
        color: #c2c2c3;
        background-color: #fff;
        -webkit-transition: 600ms ease-in-out;
        -o-transition: 600ms ease-in-out;
        transition: 600ms ease-in-out;
    }
    .articles__hover-title2 {
        font-size: 28px;
        color: #ed1c94;
    }
    .articles__img2 {
        border-radius: 8px 8px 0 0;
    }
    .articles__left-inner2:hover .articles__img2 {
        transform: scale3d(1.0, 1.0, 1.0);
        opacity: 0.5;
    }
    .articles__left-inner2 .articles__img2 {
        transform: scale3d(1.0, 1.0, 1.0);
        opacity: 0.5;
    }
    .articles__ronald-Chen2,
    .articles__d{
        font-size: 16px;
    }
    .news__box {
        grid-template-columns: 1fr 1fr;
    }
    .containerPadding {
        padding: 0 12px;
    }
    .news,
    .benefitsKalimatan {
        padding: 120px 0 140px;
    }
    .benefitsKalimatan__inner .benefitsKalimatan__name {
        font-size: 19px;
    }
    .benefitsKalimatan__dscr {
        font-size: 16px;
    }
}
//1439
@media(max-width: 1439px) {
    .booksAndVideos__inner,
    .booksAndVideos__V-inner{
        text-align: center;
    }
    .booksAndVideos__books {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        margin-bottom: 100px;
    }
    .booksAndVideos__videos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
    .booksAndVideos__img {
        max-width: 400px;
        max-height: 550px;
    }
    .booksAndVideos__V-img {
        max-width: 400px;
        max-height: 450px;
    }
    .articles__box {
        grid-template-columns: 1fr;
    }
    .articles__center-inner,
    .articles__right-inner{
        text-align: center;
    }
    .articles__right-top {
        width: 100%;
    }
    .articles__hover {
        transform: translate3d(0, 57%, 0);
    }
    .articles__title-center {
        margin-bottom: 90px;
    }
    .articles__center {
        height: 100%;
    }
    .message__left {
        padding: 70px 12px;
    }
    .message__title {
        margin-bottom: 60px;
    }
    .message__dscr {
        font-size: 19px;
    }
    .message__btn {
        font-size: 16px;
    }
    .news__box {
        gap: 50px;
    }
    .benefitsKalimatan__box {
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
    }
}
//1399
@media(max-width: 1399px) {
    .main-slider__btn {
        font-size: 16px;
        max-width: 248px;
    }
}
//1199
@media(max-width: 1199px) {
    .header__box {
        padding: 5px 0;
        flex-direction: column;
    }
    .header__menu li {
        padding: 0;
    }
    .main-slider__name span::before {
        width: 15px;
        height: 15px;
        left: -60px;
    }
    .main-slider__name span::after {
        width: 15px;
        height: 15px;
        right: -60px;
    }
    .booksAndVideos__img {
        max-width: 400px;
        max-height: 500px;
    }
    .news,
    .benefitsKalimatan {
        padding: 80px 0;
    }
    .news__primary-btn {
        margin-bottom: 30px;
    }
    .footer__box {
        flex-direction: column;
    }
    .footer__center {
        height: 100%;
    }
}
//1099
@media(max-width: 1099px) {
    .about__slider {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .about__slider-img {
        max-width: none; 
        max-height: none; 
    }
    .booksAndVideos__img {
        max-width: 400px;
        max-height: 400px;
    }
    .booksAndVideos__V-img {
        max-width: 400px;
        max-height: 350px;
    }
}
//1024
@media(max-width: 1024px) {
    .benefitsKalimatan__box {
        grid-template-columns: repeat(2, 1fr);
    }
}
//980
@media(max-width: 979px) {
    .main-slider {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .message__box {
        grid-template-columns: 1fr;
    }
    .news__box {
        gap: 20px;
    }

}
//900
@media(max-width: 900px) {
    .booksAndVideos__img {
        max-width: 400px;
        max-height: 350px;
    }
    .booksAndVideos__V-img {
        max-width: 400px;
        max-height: 300px;
    }
}
//767
@media(max-width: 767px) {
    .header {
        background: #6d0eb1;
        color: #fff;
        position: fixed;
        z-index: 999;
        width: 100%;
        max-width: 1920px;
        background: $bgColorHeaderNav;
        animation-name: fade;
        animation-duration: 1s;
    }
    .header__box {
        padding: 10px 0 0;
    }
    .header-nav {
        display: none;
    }
    .header__box {
        display: flex;
        justify-content: flex-start;
        min-height: 60px !important;
        flex-direction: row;
    }
    .header__burger {
        display: block;
        margin-right: 10px;
    }
    .header-burger-btn {
        display: block;
        width: 50px;
        height: 50px;
        position: relative;
        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 24px;
            height: 4px;
            background-color: #fff;
            &::before{
                content: '';
                position: absolute;
                top: 50%;margin-top: -2px;
                left: 50%;margin-left: -12px;
                transform: translateY(-8px);
                width: 24px;
                height: 4px;
                background-color: #fff;
                transition: all .5s ease-in-out;
            }
            &::after{
                content: '';
                position: absolute;
                top: 50%;margin-top: -2px;
                left: 50%;margin-left: -12px;
                transform: translateY(8px);
                width: 24px;
                height: 4px;
                background-color: #fff;
                transition: all .5s ease-in-out;
            }
        }
    }
    .header-burger-btn-active{
        span {
            &::before{
                transform: rotate(-35deg);
                transform-origin: left bottom;
                width: 15px;
            }
            &::after{
                transform: rotate(35deg);
                transform-origin: left top;
                width: 15px;
            }
        }
    }
    .header_navbar.header-burger-btn-active {
            display: block;
            position: fixed;
            z-index: 999;
            color: #333;
            background-color: #fff;
            width: 100%;
            max-width: 270px;
            height: 100%;
            left: 0;
            font-size: 16px;
            padding: 0 0 0 40px;
            font-family: "Oswald", Helvetica, Arial, sans-serif;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: .1em;
            transform: translate(0px, 0px);
            transition: all .5s ease-in-out;
    }
    .header_navbar__menu {
        padding-top: 8px;
        &>:nth-child(1){
            background-color: $bgColorSite;
            a{
                color: #fff;
            }
        }
        li{

            list-style: disc;
            a{
                color: #333;
                padding: 11px 56px 11px 10px;
                width: 100%;
                transition: all .3s ease-in-out;
                &:hover {
                    color: #fff;
                    background-color: $bgColorSite;
                }
            }
        }
    }
    .header_navbar__arrow {
        position: relative;
        &::after {
            content: "\f105";
            font-family: 'icomoon';
            position: absolute;
            top: 50%;
            width: 31px;
            height: 31px;
            text-align: center;
            transform: translateY(-50%);
            right: 20px;
            font-size: 21px;
            transition: all .3s ease-in-out;
        }
    }    
    .header_navbar__arrow-active {
        position: relative;
        &::after {
            content: "\f105";
            font-family: 'icomoon';
            position: absolute;
            top: 25%;
            width: 31px;
            height: 31px;
            text-align: center;
            transform: translateY(-50%);
            right: 20px;
            font-size: 21px;
            transform: rotate(90deg);
        }
    }  
//
    .main-slider__dscr-all {
        display: none;
    }
    .main-slider__btn {
        font-size: 13px;
        max-width: 203px;
        padding: 13px 0;
        margin-top: 30px;
    }
    .main-slider__name span::after {
        width: 10px;
        height: 10px;
        right: -15px;
    }
    .main-slider__name span::before {
        width: 10px;
        height: 10px;
        left: -20px;
    }
    .main-slider {
        padding-top: 100px;
        padding-bottom: 60px;
    }
    .slick-dots {
        margin-top: 20px;
        gap: 40px;
    }
    .about {
        padding: 60px 0;
    }
    .about__title {
        margin-bottom: 90px;
    }
    .about__slider-img {
        object-fit: cover;
        min-height: 404px;
    }
    .about__box {
        padding: 0px;
    }
    .slick-next,
    .slick-prev {
        position: absolute;
        z-index: 2;
        font-size: 0;
        height: 60px;
        width: 60px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.698);
        top: 171px;
        transform: translateY(0%);
        right: 0;
        border: 0;
        transition: all 1s;
    }
    .slick-prev {
        left: 0;
    }
    .slick-next::before,
    .slick-prev::before {
        content: "\f105";
        font-family: "icomoon";
        position: absolute;
        font-size: 80px;
        right: 13px;
        top: 46%;
        transform: translateY(-50%);
    }
    .slick-prev::before {
        content: "\f104";
        font-family: "icomoon";
        position: absolute;
        left: 13px;

    }
    .slick-next:hover {
        background-color: rgba(255, 255, 255, 0.698);
    }
    .slick-prev:hover {
        background-color: rgba(255, 255, 255, 0.698);
    }
    .booksAndVideos__books,
    .booksAndVideos__videos {
        grid-template-columns: repeat(2, 1fr);
    }
    .booksAndVideos__img {
        max-width: 400px;
        max-height: 450px;
    }
    .booksAndVideos__V-img {
        max-width: 400px;
        max-height: 400px;
    }
    .articles__left-inner {
        overflow: auto;
        background-color: #fff;
    }
    .articles__hover {
        position: relative;
        bottom: 0;
        left: 0;
        transform: translate3d(0, 0, 0);
        width: 100%;
        max-width: none;
        padding: 15px 15px 20px;
        color: #c2c2c3;
        background-color: transparent;
        -webkit-transition: 600ms ease-in-out;
        -o-transition: 600ms ease-in-out;
        transition: 600ms ease-in-out;
    }
    .articles__hover-title {
        color: #ed1c94;
    }
    .articles__dscr {
        color: #838386;
        line-height: 1.55556;
    }
    .articles__hover-title {
        font-size: clamp(28px,4vw,36px);
    }
    .articles__dscr {
        font-size: clamp(15px,3vw,18px);
    }
    .articles__title-center {
        padding: 20px 15px;
        font-size: clamp(19px,4vw,24px);
    }
    .articles__date-center {
        padding: 20px 15px;
    }
    .articles__d-center{
        font-size: 15px;
    }
    .articles__right-top {
        padding: 55px 15px 45px;
    }
    .articles__right-title {
        font-size: 18px;
    }
    .articles__right-title::before {
        top: -40px;
        font-size: 30px;
    }
    .articles__right-top {
        text-align: left;
    }
    .articles__primary-btn {
        margin-top: 0;
    }
    .articles__primary-button {
        font-size: 15px;
    }
    .articles {
        padding: 60px 0;
    }
    .articles__left-inner:hover .articles__img {
        transform: scale3d(1.00, 1.00, 1.00);
        opacity: 1;
    }
    .message__dscr {
        font-size: 18px;
    }
    .message__btn {
        font-size: 15px;
    }
    .message__left {
        padding: 60px 12px;
    }
    .news__primary-button {
        font-size: 15px;
    }
    .news__box {
        grid-template-columns: 1fr;
        gap: 60px;
    }
    .news,
    .benefitsKalimatan {
        padding: 60px 0;
    }
    .articles__left-inner2 .articles__img2 {
        opacity: 1;
        filter: brightness(0.5);
    }
    .news__box {
        margin-bottom: 0px;
    }
    .benefitsKalimatan__box {
        gap: 20px;
    }
    .other__title {
        font-size: 20px;
    }
    .other__box {
        font-size: 16px;
    }
    .other {
        padding: 60px 0 20px;
    }
    .footer__title {
        font-size: 15px;
    }
    .footer__privacy{
        font-size: 15px;
        text-align: center;
    }
    .footer {
        padding: 55px 0 35px;
    }

}
//699
@media(max-width: 699px) {
    .booksAndVideos__img {
        max-width: 400px;
        max-height: 350px;
    }
    .booksAndVideos__V-img {
        max-width: 400px;
        max-height: 300px;
    }
}
//599
@media(max-width: 599px) {
    .booksAndVideos__img {
        max-width: 400px;
        max-height: 300px;
    }
    .booksAndVideos__V-img {
        max-width: 400px;
        max-height: 250px;
    }
    .booksAndVideos__name,
    .booksAndVideos__V-name {
        font-size: 17px;
    }
    .other__box {
        justify-content: center;
        gap: 20px;
        flex-direction: column;
    }
}
//500
@media(max-width: 500px) {
    .booksAndVideos__img {
        max-width: 400px;
        max-height: 250px;
    }
    .booksAndVideos__V-img {
        max-width: 400px;
        max-height: 200px;
    }
    .articles__date {
        display: none;
    }
    .articles__left-inner2 .articles__img2 {
        filter: brightness(1);
    }
}
//474px
@media(max-width: 474px) {
    .about__slider-img {
        object-fit: cover;
        min-height: 295px;
    }
    .slick-next,
    .slick-prev {
        top: 117px;
    }
    .benefitsKalimatan__box {
        grid-template-columns: 1fr;
        gap: 50px;
    }
}
//425
@media(max-width: 425px) {
    .paroller__title {
        padding-left: 20px;
    }
    .paroller__bread-crumbs {
        font-size: 11px;
    }
    .paroller__inner ul {
        gap: 3px;
    }
    .booksAndVideos__books, .booksAndVideos__videos {
        grid-template-columns: 1fr;
        row-gap: 50px;
    }
    .booksAndVideos__img {
        max-width: 400px;
        max-height: 480px;
    }
    .booksAndVideos__V-img {
        max-width: 400px;
        max-height: 430px;
    }
    .news__name {
        font-size: 15px;
    }
}
//375px
@media(max-width: 375px) {
    .booksAndVideos__img {
        max-width: 400px;
        max-height: 450px;
    }
    .booksAndVideos__V-img {
        max-width: 400px;
        max-height: 380px;
    }
}
//320
@media(max-width: 320px){
    .about__slider-img {
        object-fit: cover;
        min-height: 230px;
    }
    .slick-next,
    .slick-prev {
        top: 85px;
    }
    .booksAndVideos__img {
        max-width: 400px;
        max-height: 400px;
    }
    .booksAndVideos__V-img {
        max-width: 400px;
        max-height: 300px;
    }
}