@font-face {
    font-family: 'icomoon';
    src:  url('../../assets/fonts/icomoon.eot?tngoiy');
    src:  url('../../assets/fonts/icomoon.eot?tngoiy#iefix') format('embedded-opentype'),
      url('../../assets/fonts/icomoon.ttf?tngoiy') format('truetype'),
      url('../../assets/fonts/icomoon.woff?tngoiy') format('woff'),
      url('../../assets/fonts/icomoon.svg?tngoiy#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-bullhorn:before {
    content: "\e91a";
  }
  .icon-books:before {
    content: "\e920";
  }
  .icon-whatsapp:before {
    content: "\ea93";
  }
  .icon-youtube:before {
    content: "\ea9d";
  }
  .icon-movie:before {
    content: "\e905";
  }
  .icon-arrow-up:before {
    content: "\e90c";
  }
  .icon-play-alt:before {
    content: "\e909";
  }
  .icon-angle-left:before {
    content: "\f104";
  }
  .icon-angle-right:before {
    content: "\f105";
  }
  .icon-quote-left:before {
    content: "\f10d";
  }
  .icon-vk:before {
    content: "\f189";
  }
  .icon-documents:before {
    content: "\e006";
  }
  .icon-calendar:before {
    content: "\e901";
  }
  .icon-moonandstar:before {
    content: "\e902";
  }
  .icon-book:before {
    content: "\e903";
  }
  .icon-folder:before {
    content: "\e90a";
  }
  .icon-arrow-up1:before {
    content: "\e90e";
  }
  .icon-collections:before {
    content: "\e906";
  }
  .icon-eye:before {
    content: "\e900";
  }
  .icon-cashapp:before {
    content: "\e904";
    color: #00c244;
  }
  .icon-creativecommons:before {
    content: "\e90b";
    color: #ef9421;
  }
  .icon-microsoftword:before {
    content: "\e907";
    color: #2b579a;
  }
  .icon-telegram1:before {
    content: "\e90d";
    color: #2ca5e0;
  }
  .icon-users:before {
    content: "\e908";
  }
  
  
  
  
  

//vars
//Colors    
$bgColorHeaderNav: linear-gradient(-39deg, #8b0fe4 10%, #6d0eb1 40%);
$navColorHoverActive: #ffec17;

$bgColorSite: #6a0dac;
$bgColorBtn: #ed1c94;
$bgColorLine: linear-gradient(to right, #ed1c94 50%, #981df0 120%);
$bgColorFooter: #29293a;
$colorTitle: #29293A; 

//mixin
@mixin line {
    content: '';
    position: absolute;
    background: linear-gradient(to right, #ed1c94 50%, #981df0 120%);
    display: inline-block;
    height: 3px;
    max-width: 100px;
    width: 100%;
}
@mixin  btn {
    color: #fff;
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    background-color: #ed1c94;
    padding: 9px 28px;
    font-size: 14px;
    border-radius: 35px;
    transition: 300ms ease-in-out;
    margin-top: 30px;
    &:hover {
        color: #ffffff;
        background-color: #981df0;
    }
}

    
* {
    box-sizing: border-box;
}

a{
    text-decoration: none;
    display: inline-block;
}
ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1800px;
    margin: 0 auto;
}
body{
    outline: 1px solid red;
    margin: auto;
    padding: 0;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 300;
    max-width: 1920px;
    min-width: 320px;
    color: #838386;
}

//Header
.header {
    background: #6d0eb1;
    color: #fff;
}
.header__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 88px;
}
.header__logo {
    a {
        display: flex;
        align-items: center;
        font-weight: 900;
        font-size: 50px;
        color: #fff;
        &:hover {
            color: #fff;
        }
    }
}
.header__logo-img {
    height: 60px; 
}
.header__arrow {
    position: relative;
    &::before {
        content: '>';
        position: absolute;
        right: -15px;
        font-size: 22px;
        transform: rotate(90deg);
    }
}
.header__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    li {
        border-top: 3px solid transparent;
        padding: 25px 0;
        transition: all .5s;
        &:hover {
            border-top: 3px solid $navColorHoverActive;
            a {
                color: $navColorHoverActive;
            }
//
            ul {
                display: block;
                position: absolute;
                background-color: #fff;
                padding: 5px 5px 5px 28px;
                border-radius: 6px;
                box-shadow: 0 6px 8px rgb(110 123 157 / 17%);
                width: 310px;
                height: 273px;
                right: 200px;
                transform: translateY(15px);
                transition: all 1s;
                li {
                    padding: 4px 10px 6px 0;
                    border-bottom: 1px solid #f9f9f9;
                    &:hover {
                        border-top: 3px solid transparent;
                    }
                    a {
                        padding: 4px 10px 7px;
                        color: $colorTitle;
                        text-transform: none;
                        font-size: 16px;
                        display: block;
                        &:hover {
                            color: #ed1c94;
                        }
                    }
                }
            }
//
        }
    }
    a {
        color: #fff;
        text-transform: uppercase;
        letter-spacing: .1em;
    }
    ul {
        position: absolute;
        background-color: #fff;
        padding: 5px 5px 5px 28px;
        border-radius: 6px;
        box-shadow: 0 6px 8px rgb(110 123 157 / 17%);
        width: 310px;
        height: 273px;
        right: 200px;
        transform: translateY(-200%);
        transition: all 3s;
        z-index: 1;
        li {
            padding: 4px 10px 6px 0;
            border-bottom: 1px solid #f9f9f9;
            &:hover {
                border-top: 3px solid transparent;
            }
            a {
                padding: 4px 10px 7px;
                color: $colorTitle;
                text-transform: none;
                font-size: 16px;
                display: block;
                transition: all .3s;
                &:hover {
                    color: #ed1c94;
                    margin-left: 10px;
                }
            }
        }
    }
}
.header__fixed {
    position: fixed;
    z-index: 999;
    width: 100%;
    max-width: 1920px;
    background: $bgColorHeaderNav;
    animation-name: fade;
    animation-duration: 1s;
}
@keyframes  fade{
    from {
        opacity: 0;
        top: -50px;
    }
    to {
        opacity: 1;
        top: 0;
    }
}
//btnFixed
.btnFixed {

}
.btnFixed__box {
    display: flex;
    justify-content: end;
}
.btnFixed__btnTopFixedNone{
    display: none;
}
.btnFixed__btnTopFixed {
    display: block;
    color: #ffffff;
    background-color: #ed1c94;
    position: fixed;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9px;
    z-index: 999;
    bottom: 40px;
    animation-name: btn;
    animation-duration: 1s;
    transition: .45s all ease-in-out;
    &:hover {
        color: #ffffff;
        background-color: #981df0;
        text-decoration: none;
    }
    &::before {
        content: "\e90e";
        font-family: 'icomoon';
        position: absolute;
    }
}

@keyframes  btn{
    from {
        opacity: 0;
        bottom: -50px;
    }
    to {
        opacity: 1;
        bottom: 30px;
    }
}
//main-slider
.main-slider {
    background-image: linear-gradient(135deg, #6d0eb1 59%, #080ab4 100%);
    color: #fff;
    height: 100vh;
    padding-top: 180px;
}
.main-slider__box {
    // outline: auto;
    max-width: 1500px;
    max-height: 598px;
    margin: 0 auto;
}
.main-slider__wrapper {
    text-align: center;
}
.main-slider__dscr {
    font-size: 30px;
    opacity: 0;
}
//Slider-animation
.slick-active.one, .slick-active.two, .slick-active.three {

    .main-slider__dscr {
        animation-name: dscr;
        animation-duration: 0.6s;
        animation-timing-function: ease;
        animation-delay: .5s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: forwards;
        animation-play-state: running;
    }
    .main-slider__name {
        animation-name: name;
        animation-duration: 0.7s;
        animation-timing-function: ease;
        animation-delay: .5s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: forwards;
        animation-play-state: running;
    }
    .main-slider__dscr-all {
        animation-name: dscr-all;
        animation-duration: 0.6s;
        animation-timing-function: ease;
        animation-delay: .5s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: forwards;
        animation-play-state: running;
    }
    .main-slider__btn {
        animation-name: btn;
        animation-duration: 0.6s;
        animation-timing-function: ease;
        animation-delay: .5s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: forwards;
        animation-play-state: running;
    }

}
@keyframes dscr { 
    0%{
        animation-timing-function: linear;
    transform: translate3d(0, 55px, 0) scale(0.8);
    opacity: 0;
    filter: blur(10px);
    }

    100%{
        transform: translate3d(0, 0, 0) scale(1);
        opacity: 1;
        filter: blur(0);
    }
}
@keyframes name { 
    0%{
        opacity: 0;
        filter: blur(10px);
        transform: scale3d(0.85, 0.85, 0.85);
    }

    100%{
        opacity: 1;
        filter: blur(0);
        transform: scale3d(1, 1, 1);
    }
}
@keyframes dscr-all { 
    0%{
        animation-timing-function: linear;
        opacity: 0;
        transform: translate3d(0, -55px, 0) scale(0.8);
        filter: blur(10px);
    }

    100%{
        transform: translate3d(0, 0px, 0) scale(1);
        opacity: 1;
        filter: blur(0);
    }
}
@keyframes btn { 
    0%{
        animation-timing-function: linear;
        opacity: 0;
        transform: translate3d(0, -55px, 0) scale(0.8);
        filter: blur(10px);
    }

    100%{
        transform: translate3d(0, 0px, 0) scale(1);
        opacity: 1;
        filter: blur(0);
    }
}
.main-slider__name {
    font-size: 220px;
    line-height: 1.3;
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    opacity: 0;
    span {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        width: 27px;
        height: 27px;
        background-color: #fff;
        transform: rotate(45deg);
        top: 50%;
        left: -115px;
     }
    &::after {
        content: '';
        position: absolute;
        width: 27px;
        height: 27px;
        background-color: #fff;
        transform: rotate(45deg);
        top: 50%;
        right: -115px;
     }
    }

}
.main-slider__dscr-all {
    font-size: 52px;
    opacity: 0;
}
.main-slider__btn {
    font-size: 19px;
    color: #fff;
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 0.12em;
    background-color: $bgColorBtn;
    max-width: 387px;
    width: 100%;
    padding: 15px 0;
    border-radius: 50px;
    margin-top: 50px;
    transition: all .4s;
    opacity: 0;
    &:hover {
        color: #fff;
        background-color: #981df0;
    }  
}
.slick-dots {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    button {
        border-radius: 50%;
        font-size: 0px;
        width: 15px;
        height: 15px;
        background-color: #981df0;
        border: none;
    }
}
.slick-active {
    button {
        background-color: #ffec17;
    }
}
//about

.about {
    padding: 200px 0;
}
.about__title {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    color: #5846d1;
    margin-bottom: 120px;
    span {
        position: relative;
        &::after {
            content: '';
            position: absolute;
            background-color: #5846d1;
            width: 60px;
            height: 4px;
            bottom: -20px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}
.about__box {
    max-width: 1400px;
    margin: 0 auto;
    // outline: auto;
    padding: 0 100px;
}
.about__slider {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.about__slider-img {
    width: 100%;
    max-width: 590px;
    max-height: 320px;
    border-radius: 20px;
}
.about__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about__name {
    color: #000;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 20px;
    padding-left: 20px;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        width: 4px;
        height: 20px;
        background-color: #5846d1;
        bottom: 5px;
        left: 0;
    }
}
.about__dscr {
    color: #000;
    font-size: 20px;
}

.slick-prev {
    position: absolute;
    z-index: 2;
    font-size: 0;
    height: 100%;
    width: 70px;
    background-color: transparent;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    border: 0;
    transition: all 1s;
    &:hover {
        background-color: rgba(#5846d1, .1);
    }
    &::before {
        content: "\f104";
        font-family: 'icomoon';
        position: absolute;
        font-size: 100px;
        left: 13px;
        top: 50%;
        transform: translateY(-50%);
    }
}
.slick-next {
    position: absolute;
    z-index: 2;
    font-size: 0;
    height: 100%;
    width: 70px;
    background-color: transparent;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    border: 0;
    transition: all 1s;
    &:hover {
        background-color: rgba(#5846d1, .1);
    }
    &::before {
        content: "\f105";
        font-family: 'icomoon';
        position: absolute;
        font-size: 100px;
        right: 13px;
        top: 50%;
        transform: translateY(-50%);
    }
}
//paroller
.paroller {
    background-color: $bgColorSite;
}
.paroller__box {
    position: relative;
}
.paroller__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}
.paroller__title {
    font-size: 170px;
    font-family: 'Montserrat';
    letter-spacing: .28em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 100%;
    z-index: 1;
}
.paroller__dscr {
    color: #fff;
    font-size: 48px;
    letter-spacing: 0.06em;
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    z-index: 10;
    transform: translateY(50px);
    &::before {
        @include line();
        bottom: -40px;
    }
}
.paroller__inner {
    padding: 50px 0;
    ul {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        gap: 10px;
        span{
            display: block;
            padding: 0 5px;
            font-weight: 900;
            position: relative;
            color: transparent;
            &::before {
                content: "\f105";
                position: absolute;
                font-family: 'icomoon';
                top: 50%;
                transform: translateY(-50%);
                color: #981df0;
                font-size: 25px;
            }
        }
    }
}
.paroller__bread-crumbs {
    color: #fff;
    background-color: #981df0;
    padding: 11px 25px;
    border-radius: 35px;
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
}
//booksAndVideos
.booksAndVideos {
    background-color: $bgColorSite;
    padding-top: 30px;
    padding-bottom: 100px;
}
.booksAndVideos__books {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 30px;
    margin-bottom: 50px;
}
.booksAndVideos__img {
    width: 100%;
    max-width: 271px;
    height: 100%;
    max-height: 361px;
    object-fit: cover;
    border-radius: 10px;
    transition: all .3s;
    &:hover {
        box-shadow: 0 6px 8px 0 rgb(110 123 157 / 17%);
        transform: translate3d(0, -5px, 0);
    }
}
.booksAndVideos__name {
    color: #ed1c94;
    text-decoration: none;
    transition: .3s;
    font-size: 24px;
    margin: 15px 0px 16px;
    &:hover {
        color: #fff;
    }
}
.booksAndVideos__year {
    margin-bottom: 16px;
    color: #fff;
}
.booksAndVideos__videos {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
}
.booksAndVideos__V-img {
    width: 100%;
    max-width: 271px;
    height: 100%;
    max-height: 282px;
    object-fit: cover;
    border-radius: 10px;
    transition: all .3s;
    &:hover {
        box-shadow: 0 6px 8px 0 rgb(110 123 157 / 17%);
        transform: translate3d(0, -5px, 0);
    }
}
.booksAndVideos__V-name {
    color: #ed1c94;
    text-decoration: none;
    transition: .3s;
    font-size: 24px;
    margin: 15px 0px 16px;
    &:hover {
        color: #fff;
    }
}
.booksAndVideos__V-year {
    margin-bottom: 16px;
    color: #fff;
}
//svg
.svgSection {
    position: relative;
}
.svg {
    fill: #f2f3f9;
    transform: translateY(-97%);
    width: 100%;
    position: absolute;
}
.svg2 {
    fill: #fff;
    transform: translateY(-97%);
    width: 100%;
    position: absolute;
}
//articles
.articles {
    background-color: #f2f3f9;
    padding: 125px 0;
}
.articles__title {
    font-size: 48px;
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #29293a;
    line-height: 1.375;
    text-align: center;
    position: relative;
    &::before {
        @include line();
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%);
    }
}
.articles__box {
    margin-top: 90px;
    display: grid;
    grid-template-columns: 1fr .5fr .5fr;
    gap: 20px;
}
.articles__left-inner {
    overflow: hidden;
    border-radius: 8px;
    position: relative;
    background-color: #000000;
    &:hover {
        .articles__hover {
            transform: translate3d(0, 0%, 0);
        }
        .articles__img {
            transform: scale3d(1.05, 1.05, 1.05);
            opacity: .5;
        }
    }
}
.articles__img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    transition: 750ms ease-in-out;

}
.articles__date {
    position: absolute;
    top: 40px;
    left: 47px;
}
.articles__ronald-Chen {
    padding: 5px 10px;
    color: #ededed;
    transition: .3ms ease-in-out;
    &:hover {
        color: #ffec17;
    }
}
.articles__d {
    padding: 5px 10px;
    color: #ededed;
}
.articles__hover {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate3d(0, 55%, 0);
    width: 100%;
    max-width: 620px;
    padding: 15px 15px 48px 47px;
    color: #c2c2c3;
    background-color: transparent;
    transition: 600ms ease-in-out;
}
.articles__news {
    color: #fff;
    background-color: #ed1c94;
    display: inline-block;
    padding: 4px 11px 5px;
    border-radius: 20px;
    font: 300 14px/1 "Lato", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: .04em;
    margin-left: 40px;
    margin-bottom: 16px;
    transition: 300ms ease-in-out;
    &:hover {
        color: #ffffff;
        background-color: #981df0;
    }
}
.articles__hover-title {
    font-size: 42px;
    color: #fff;
    line-height: 1.23;
    transition: 300ms ease-in-out;
    margin-bottom: 30px;
    &:hover {
        color: #ffec17;
    }
}
.articles__dscr {
    color: #c2c2c3;
    line-height: 1.55556;
}
.articles__btn {
    @include btn();
}
//
.articles__center {
    transition: 450ms ease-in-out;
    height: 680px;
    background-color: #ffffff;
    position: relative;
    border-radius: 8px;
    &:hover {
        box-shadow: 0 3px 20px rgb(110 123 157 / 50%);
    }
}
.articles__img-link {
    overflow: hidden;
    border-radius: 8px 8px 0 0;
    border: 1px solid transparent;
}
.articles__img-center {
    width: 100%;
    border-radius: 8px 8px 0 0;
    transition: 450ms ease-in-out;
    &:hover {
        transform: scale3d(1.05, 1.05, 1.05);
    }
}
.articles__bottom {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.articles__tips-tricks {
    color: #ffffff;
    background-color: #ed1c94;
    display: inline-block;
    padding: 4px 11px 5px;
    border-radius: 20px;
    font: 300 14px/1 "Lato", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: .04em;
    transition: 450ms ease-in-out;
    &:hover {
        color: #ffffff;
        background-color: #981df0;
    }
}
.articles__ronald-Chen-center {
    color: #ed1c94;
    transition: .25s;
    &:hover {
        color: #981df0;
    }
}
.articles__title-center {
    padding: 20px 38px;
    font-size: 24px;
    color: #981df0;
}
.articles__date-center {
    padding: 20px 38px;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #f2f3f9;
}
.articles__view {
    color: #838386;
    transition: 450ms ease-in-out;
    position: relative;
    &:hover {
        color: #981df0;
    }
    &::before {
        content: "\e900";
        position: absolute;
        font-family: 'icomoon';
        top: 50%;
        transform: translateY(-50%);
        left: -30px;
        color: #981df0;
        font-size: 25px;
    }
}
//
.articles__right-top {
    background-color: $bgColorSite;
    padding: 70px 50px 45px;
    margin-bottom: 20px;
    border-radius: 8px;
    &:hover {
        .articles__right-title{
            color: #ffec17;
        }
        .articles__right-Ronald-Chen {
            color: #ffec17;
        }
    }
}
.articles__right-title {
    font-size: 24px;
    line-height: 1.41667;
    font-style: italic;
    color: #fff;
    transition: 450ms ease-in-out;
    position: relative;
    &::before {
        content: "\f10d";
        font-family: 'icomoon';
        position: absolute;
        top: -40px;
    }
}
.articles__right-Ronald-Chen {
    transition: 450ms ease-in-out;
    color: #fff;
    display: inline-block;
    margin-top: 40px;
    span {
        color: #ffec17;
        padding-left: 20px;
    }
}
//
.articles__right-bottom {
    border-radius: 8px;
    overflow: hidden;
    &:hover {
        .articles__right-bottom-img {
            transform: scale3d(1.05, 1.05, 1.05);
        }
    }
}
.articles__right-bottom-img {
    transition: 750ms ease-in-out;
    width: 100%;
    filter: brightness(70%)
}
//
.articles__primary-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.articles__primary-button {
    @include btn();
    font-size: 18px;
}
//message
.message__box {
    display: grid;
    grid-template-columns: .9fr 1.1fr;
}
.message__left {
    padding: 125px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 444px;
    margin: auto;
}
.message__title {
    font-size: 48px;
    line-height: 1.375;
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #29293a;
    position: relative;
    margin-bottom: 80px;
    &::before {
    @include line();
    bottom: -30px;
    }
}
.message__dscr {
    font-size: 24px;
    line-height: 1.6;
    color: #838386;
}
.message__input-style {
    box-shadow: none;
    display: block;
    width: 100%;
    min-height: 60px;
    padding: 18px 25px;
    font-weight: 300;
    line-height: 24px;
    color: #29293a;
    background-color: #f2f3f9;
    background-image: none;
    border: 0px solid #f2f3f9;
    border-radius: 35px;
}
.message__btn {
    @include btn();
    border: none;
    width: 100%;
    margin: 0;
    padding: 14px 38px;
    font-size: 18px;
    line-height: 24px;
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 0.12em;
    text-transform: uppercase;
}
.message__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
//news
.news {
    background-image: linear-gradient(135deg, #6d0eb1 59%, #080ab4 100%);
    padding: 160px 0;
}
.containerPadding {
    padding: 0 150px;
}
.news__box {
    display: grid;
    grid-template-columns: 1.35fr .6fr;
    gap: 150px;
    margin-top: 120px;
    margin-bottom: 100px;
}
.news__title {
    text-align: center;
    font-size: 48px;
    color: #fff;
    line-height: 1.375;
    letter-spacing: 0.06em;
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    &::before {
        @include line();
        bottom: -40px;
        left: 50%;
        transform: translateX(-50%);
        background: #fff;
    }
}
.news__block {
    display: block;
    max-width: 95px;
}
.news__name {
    font-size: 24px;
    color: #ed1c94;
    margin-bottom: 16px;
    transition: 400ms ease-in-out;
    &:hover {
        color: #fff;
    }
}
.news__date {
    color: #c2c2c3;
    font-size: 18px;
}
.news__primary-btn {
    text-align: center;
}
.news__primary-button {
    @include btn();
    padding: 14px 98px;
    font-size: 18px;
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.12em;
}
//benefitsKalimatan
.benefitsKalimatan {
    padding: 160px 0;
}
.benefitsKalimatan__title {
    font-size: 48px;
    line-height: 1.375;
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #29293a;
    text-align: center;
    margin: 0px 0px 100px;
    position: relative;
    &::before {
        @include line();
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%);
    }
}
.benefitsKalimatan__box {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 50px;
}
.benefitsKalimatan__inner{
    .benefitsKalimatan__name {
        color: #29293a;
        font-size: 24px;
        line-height: 1.5;
        font-family: "Oswald", Helvetica, Arial, sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        padding-left: 40px;
        position: relative;
        &::before{
            font-family: 'icomoon';
            content: "\e901";
            position: absolute;
            left: 0;
            top: 50%;
            object-fit: cover;
            transform: translateY(-50%);
            color: $bgColorSite;
            font-size: 30px;
        }
    }
}
.benefitsKalimatan__inner:nth-child(2){
    .benefitsKalimatan__name {
        &::before{
            content: "\e904";
        }
    }
}
.benefitsKalimatan__inner:nth-child(3){
    .benefitsKalimatan__name {
        &::before{
            content: "\e903";
        }
    }
}
.benefitsKalimatan__inner:nth-child(4){
    .benefitsKalimatan__name {
        &::before{
            content: "\e902";
        }
    }
}
.benefitsKalimatan__inner:nth-child(5){
    .benefitsKalimatan__name {
        &::before{
            content: "\e905";
        }
    }
}
.benefitsKalimatan__inner:nth-child(6){
    .benefitsKalimatan__name {
        &::before{
            content: "\e908";
        }
    }
}
.benefitsKalimatan__inner:nth-child(7){
    .benefitsKalimatan__name {
        &::before{
            content: "\e906";
        }
    }
}
.benefitsKalimatan__inner:nth-child(8){
    .benefitsKalimatan__name {
        &::before{
            content: "\e907";
        }
    }
}

.benefitsKalimatan__dscr {
    margin-top: 22px;
    color: #838386;
    line-height: 1.55556;
}
//other
.other {
    padding: 90px 0 30px;
    background-color: #f2f3f9;
}
.other__box {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.other__inner-left,
.other__inner-center,
.other__inner-right
 {
    max-width: 270px;
    width: 100%;
}
.other__li {
    margin-bottom: 10px;
}
.other__title {
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 0.12em;
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #29293a;
    margin-bottom: 20px;
}
.other__inner-left {
    .other__li {
        list-style:circle;
        .other__link {
            color: #981df0;
            padding-left: 30px;
            position: relative;
            &:hover {
                transition: .5s;
                color: #000;
            }
            &::before {
                content: "\e920";
                font-family: 'icomoon';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    .other__li:nth-child(2){
        .other__link {
            &::before {
                content: "\e909";
                font-family: 'icomoon';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}
.other__inner-center {
    .other__li {
        list-style:circle;
        .other__link {
            color: #981df0;
            padding-left: 30px;
            position: relative;
            &:hover {
                transition: .5s;
                color: #000;
            }
            &::before {
                content: "\e90a";
                font-family: 'icomoon';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    .other__li:nth-child(2){
        .other__link {
            &::before {
                content: "\e006";
                font-family: 'icomoon';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    .other__li:nth-child(3){
        .other__link {
            &::before {
                content: "\e90b";
                font-family: 'icomoon';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}
.other__inner-right {
    .other__li {
        list-style:circle;
        .other__link {
            color: #981df0;
            padding-left: 30px;
            position: relative;
            &:hover {
                transition: .5s;
                color: #000;
            }
            &::before {
                content: "\e91a";
                font-family: 'icomoon';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    .other__li:nth-child(2){
        .other__link {
            &::before {
                content: "\e90d";
                font-family: 'icomoon';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    .other__li:nth-child(3){
        .other__link {
            &::before {
                content: "\ea9d";
                font-family: 'icomoon';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}
//footer
.footer {
    background-color: #29293a;
    padding: 55px 0;
}
.footer__box {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}
.footer__logo {
    a {
        display: flex;
        align-items: center;
        font-weight: 900;
        font-size: 50px;
        color: #fff;
        &:hover {
            color: #fff;
        }
    }
}
.header__logo-img {
    height: 60px;
}
.footer__center {
    max-width: 500px;
    height: 218px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.footer__title {
    color: #838386;
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 1.55556;
    text-align: center;
    margin-bottom: 16px;
}
.footer__privacy {
}
.footer__link {
    color: #838386;
    transition: all .3s ease-in-out;
    &:hover {
        color: #fff;
    }
}
.footer__right {
}
.footer__whatsapp {
    position: relative;
    border: 1px solid transparent;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: #ffffff;
    background: #21212e;
    font-size: 22px;
    transition: all .3s ease-in-out;
    &:hover {
        background-color: #3dbc4d;
        color: #ffffff;
    }
    &::before {
        content: "\ea93";
        font-family: 'icomoon';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
.footer__telegram {
    position: relative;
    border: 1px solid transparent;
    width: 45px;
    height: 45px;
    margin: 0 9px;
    border-radius: 50%;
    color: #ffffff;
    background: #21212e;
    font-size: 22px;
    transition: all .3s ease-in-out;
    &:hover {
        background-color: #2ca5e0;
        color: #ffffff;
    }
    &::before {
        content: "\e90d";
        font-family: 'icomoon';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
.footer__vk {
    position: relative;
    border: 1px solid transparent;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: #ffffff;
    background: #21212e;
    font-size: 22px;
    transition: all .3s ease-in-out;
    &:hover {
        background-color: rgb(70, 128, 194);
        color: #ffffff;
    }
    &::before {
        content: "\f189";
        font-family: 'icomoon';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}